@model AubgBank.Models.Service

@{
    ViewBag.Title = "Delete";
}
<div class="container container-general">
    <h2>Services</h2>

    <h3>Are you sure you want to delete this Service?</h3>
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>@Html.DisplayFor(model => model.LoanServiceName)</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-details">
                        <span class="icon">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>@Html.DisplayNameFor(model => model.LoanLimit)</h3>
                            <p>@Html.DisplayFor(model => model.LoanLimit)</p>
                        </div>
                    </div>
                    <div class="feature-details">
                        <span class="icon">
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>@Html.DisplayNameFor(model => model.InterestRate)</h3>
                            <p>@Html.DisplayFor(model => model.InterestRate)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="feature-details">
                        <span class="icon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>@Html.DisplayNameFor(model => model.MaturityDate)</h3>
                            <p>@Html.DisplayFor(model => model.MaturityDate)</p>
                        </div>
                    </div>
                    <div class="feature-details">
                        <span class="icon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>@Html.DisplayNameFor(model => model.Description)</h3>
                            <p>@Html.DisplayFor(model => model.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-outline" />
            <a id="back-button" href="@Url.Action("Index", "Services")">
                <span class="general-icon">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    }
</div>